
<div class="card animate__animated animate__flipInY">
    <h2 class="title">{{event.title}}</h2>
    <p class="creator">Created by: {{event.creator}}</p>
    <p class="category">{{event.category}}</p>
    <p class="description">{{event.description}}</p>
    <p class="participant-limit">Participant limit: {{event.participantLimit}}</p>
    <div class="joinDeleteBtns d-flex flex-row justify-content-around">
      <button id="join-btn" class="join-button rounded-pill p-1 submit" data-id="{{event.id}}" data-user="{{user.id}}">Join</button>
      <button id="delete-btn" class="delete rounded-pill p-1" data-id="{{event.id}}">Hide</button>
    </div>
  </div>
