<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>In-Or-Out</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body height="100%">
  <header class="d-flex justify-content-between align-items-center p-3">
    <img class="logo rounded-circle" src="/images/LogoImage.png" alt="In-Or-Out Logo" height="125px">
    {{!-- Remove title --}}
    {{!-- <h1>In-Or-Out</h1>  --}}

    <div class="search d-flex justify-content-between">
      <form action="/search" method="GET">
        <input class="rounded-pill p-1" type="text" name="search" placeholder="Search...">
        <button class="rounded-pill p-1" type="submit">Search</button>
      </form>

      <div id='menuBtn' class="flyoutMenu" onclick="flyoutMenuX(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  </header>

  <nav id="navbar" class="navbar rounded-start">
    <ul class="navigation">
      <li><a class="nav-links" href="/">Home</a></li>
      {{#if loggedIn}}
      <li><a class="nav-links" href="#" id="createEvent" data-bs-toggle="modal" data-bs-target="#modalCreateEvent">Create Event</a></li>
      <li><a class="nav-links" href="#" id="logoutBtn">Logout</a></li>
      {{else}}
      <li><a class="nav-links" href="#" id="loginBtn" data-bs-toggle="modal" data-bs-target="#modalLogin">Login</a></li>
      {{/if}}
    </ul>

    {{#if logged_in}}
    <ul class="profile">
      <li><a href="/profile">Profile</a></li>
    </ul>
    {{/if}}
  </nav>
  {{#unless logged_in}}
  
  <!-- Modal login -->
  <div class="modal animate__animate animate__backInRight" id="modalLogin" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal1Label">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="Login" action="/api/users/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="sign-up-btn" data-bs-toggle="modal" data-bs-target="#modalSignUp" >Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal signup -->
  <div class="modal fade animate__animate animate__backInRight" id="modalSignUp" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal2Label">Sign Up</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="SignUp" action="/api/users/signup" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="hobbies" placeholder="Top 3 - 5 hobbies">
            <textarea name="bio" placeholder="Tell us about yourself ..."></textarea>
            <input type="email" name="email" placeholder="Email">
            {{!-- make users repeat passwords for registration --}}
            <input type="password" name="password1" id="password" placeholder="Password">
            <input type="password" name="password2" id="passwordConfirmation" placeholder="Confirm Password">
            <button type="submit">Sign Up</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}

  {{#if logged_in}}
  <!-- Modal create event -->
  <div class="modal fade animate__animate animate__backInRight" id="modalCreateEvent" tabindex="-1" aria-labelledby="modalCreateEventLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCreateEventLabel">Create Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="CreateEvent" action="/api/events/createEvent" method="post">
            <input type="text" name="title" placeholder="Title">
            <textarea name="description" placeholder="Description"></textarea>
            <input type="date" name="date">
            <input type="time" name="time">
            {{!-- *causing error, needs register helper function --}}
            {{!-- <select name="participants">
              <option value="">Select number of participants</option>
              {{#each range 1 20}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
              <option value="unlimited">Unlimited</option>
            </select> --}}
            <input type="hidden" name="creator" value="{{loggedInUser}}">
            <button type="submit" id="createEventBtn">Create Event</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <main>
    {{{body}}}
  </main>

  <footer>
    <h2 class="sign-off">Go forth and find your peeps! 🤙</h2>
  </footer>

  <script src="../../public/js/general.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="/js/general.js"></script>
</body>
</html>