<div class="profile">
  <div class="profile__avatar">
    {{!-- gravatar link avatar to email --}}
    {{!-- How to import avatar into section --}}
    <img src="{{avatar}}" alt="Profile Avatar">
  </div>
  <h1 class="profile__name">{{profile.name}}</h1>
  <h2 class="profile__username">{{profile.username}}</h2>
  <p class="profile__bio">{{profile.bio}}</p>
  <div class="profile__hobbies">
    <h3 class="profile__hobbies-title">Hobbies:</h3>
    <p class="profile__hobbies-list">{{profile.hobbies}}</p>
  </div>

  <div class="accordion accordion-flush" id="eventAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="eventsHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eventsCollapse" aria-expanded="false" aria-controls="eventsCollapse">
          My Events
        </button>
      </h2>
      <div id="eventsCollapse" class="accordion-collapse collapse" aria-labelledby="eventsHeading" data-bs-parent="#eventAccordion">
        <div class="accordion-body">
          {{#each myEvents as |event|}}
            {{> eventCard}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="upcomingEventsHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upcomingEventsCollapse" aria-expanded="false" aria-controls="upcomingEventsCollapse">
          Upcoming Events
        </button>
      </h2>
      <div id="upcomingEventsCollapse" class="accordion-collapse collapse" aria-labelledby="upcomingEventsHeading" data-bs-parent="#eventAccordion">
        <div class="accordion-body">
          {{#each upcomingEvents as |event|}}
            {{> eventCard}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>