<div class="profile">
  <div class="profile__avatar">
    {{!-- gravatar link avatar to email --}}
    {{!-- How to import avatar into section --}}
    <img src="{{avatar}}" alt="Profile Avatar">
  </div>
  <h1 class="profile__name">{{name}}</h1>
  <h2 class="profile__username">{{username}}</h2>
  <p class="profile__bio">{{bio}}</p>
  <div class="profile__hobbies">
    <h3 class="profile__hobbies-title">Hobbies:</h3>
    <p class="profile__hobbies-list">{{hobbies}}</p>
  </div>
</div>